<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.blog.mapper.AboutItemMapper">
  <resultMap id="BaseResultMap" type="com.limyel.blog.entity.AboutItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="about_id" jdbcType="BIGINT" property="aboutId" />
  </resultMap>

  <sql id="BaseColumns">
    id, created_at, updated_at, deleted, name, link, description, about_id
  </sql>

  <select id="selectByAboutId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/> from about_item where about_id = #{aboutId} and deleted = 0
  </select>
</mapper>