<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.blog.dao.AboutMapper">
  <resultMap id="BaseResultMap" type="com.limyel.blog.entity.About">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
  </resultMap>

  <resultMap id="AboutDetail" type="com.limyel.blog.vo.AboutDetailVO" extends="BaseResultMap">
    <collection column="id" property="items" ofType="com.limyel.blog.entity.AboutItem" select="com.limyel.blog.dao.AboutItemMapper.selectByAboutId"/>
  </resultMap>

  <sql id="BaseColumns">
    id, create_time, update_time, deleted, title, sequence
  </sql>

  <select id="selectDetail" resultMap="AboutDetail">
    select <include refid="BaseColumns"/> from about where deleted = 0
  </select>
</mapper>