<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.blog.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.limyel.blog.entity.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="parent_comment_id" jdbcType="BIGINT" property="parentCommentId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <resultMap id="CommentInPost" type="com.limyel.blog.vo.CommentInPostVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <association column="user_id" property="user" select="com.limyel.blog.dao.UserMapper.selectVOById" />
    <association column="parent_comment_id" property="parentComment" select="com.limyel.blog.dao.CommentMapper.selectParentById"/>
  </resultMap>

  <resultMap id="ParentComment" type="com.limyel.blog.vo.ParentCommentVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <association column="user_id" property="user" select="com.limyel.blog.dao.UserMapper.selectVOById" />
  </resultMap>

  <sql id="BaseColumns">
    id, create_time, update_time, deleted, content, user_id, parent_comment_id, post_id, floor, status
  </sql>

  <select id="selectByPostId" parameterType="java.lang.Long" resultMap="CommentInPost">
    select id, create_time, content, floor, user_id, parent_comment_id from comment where post_id=#{postId} order by create_time desc
  </select>

  <select id="selectParentById" parameterType="java.lang.Long" resultMap="ParentComment">
    select id, create_time, content, floor, user_id from comment where id = #{parentCommentId}
  </select>

  <select id="selectLatest" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/> from comment order by create_time desc limit 5
  </select>

</mapper>