<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.blog.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.limyel.blog.entity.Comment">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_deleted" jdbcType="TINYINT" property="deleted" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="post_id" jdbcType="BIGINT" property="postId" />
        <result column="floor" jdbcType="INTEGER" property="floor" />
        <result column="is_show" jdbcType="TINYINT" property="show" />
    </resultMap>

    <resultMap id="CommentInPost" type="com.limyel.blog.vo.CommentInPostVO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="floor" jdbcType="INTEGER" property="floor" />
        <association property="user" javaType="com.limyel.blog.vo.UserVO">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="avatarUrl" property="avatarUrl"/>
            <result column="htmlUrl" property="htmlUrl"/>
        </association>
    </resultMap>

    <sql id="BaseColumns">
        id, create_time, update_time, deleted, content, user_id, parent_comment_id, post_id, floor, status
    </sql>

    <select id="selectByPostId" parameterType="java.lang.Long" resultMap="CommentInPost">
        select t1.id, t1.create_time, t1.content, t1.floor, t2.id, t2.name, t2.avatar_url, t2.html_url from comment t1 left join user t2 on t1.user_id = t2.id where t1.post_id=#{postId} order by t1.create_time desc
    </select>

</mapper>