<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.blog.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.limyel.blog.entity.Tag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
  </resultMap>

  <resultMap id="TagInPost" type="com.limyel.blog.vo.TagInPostVO">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="slug" jdbcType="VARCHAR" property="slug" />
  </resultMap>

  <resultMap id="TagDetail" type="com.limyel.blog.vo.TagDetailVO" extends="TagInPost">
    <result column="post_num" property="postNum"/>
  </resultMap>

  <sql id="BaseColumns">
    id, create_time, update_time, deleted, name, slug
  </sql>

  <select id="selectByPostId" resultMap="TagInPost" parameterType="java.lang.Long">
    select t1.id, t1.name, t1.slug from tag t1 inner join post_tag t2 on t2.tag_id = t1.id and t2.post_id = #{postId} where t1.deleted = 0
  </select>

  <select id="selectDetail" resultMap="TagDetail">
    select t1.id, t1.name, t1.slug, (select count(t2.id) num from post_tag t2 where t2.tag_id = t1.id and t2.deleted = 0) post_num from tag t1
  </select>

</mapper>