<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limyel.blog.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.limyel.blog.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="html_url" jdbcType="VARCHAR" property="htmlUrl" />
  </resultMap>

  <resultMap id="User" type="com.limyel.blog.entity.vo.UserVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="html_url" jdbcType="VARCHAR" property="htmlUrl" />
  </resultMap>

  <sql id="BaseColumns">
    id, created_at, updated_at, deleted, name, avatar_url, email, html_url
  </sql>

  <select id="selectVOById" resultMap="User" parameterType="java.lang.Long">
    select id, name, avatar_url, html_url from user
  </select>

  <select id="selectByInfo" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/> from user
    <where>
      <if test="name != null">
        name=#{name}
      </if>
      <if test="email != null">
        and email=#{email}
      </if>
    </where>
  </select>
</mapper>